// Place all the styles related to the publishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.publish {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.publish p {
	margin: 4px 0;
}

.publish.hover {
	background :#F0F0F0;
}
	
.publish .admin {
	display: none;
}

.publish.hover .admin {
	display: inline;
}